################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Emric.Picfiesta/packages
/Emric.Picfiesta/Emric.Picfiesta.Repository/obj/Debug
/Emric.Picfiesta/Emric.Picfiesta.Repository.Interfaces/obj/Debug
